@use "../mixins" as *;

$animation-timing: 1s;
$carousel-items: 2;
$animation-delay-fraction: $animation-timing / $carousel-items;
$animation-steps-fraction: 100/$carousel-items;
$slide-change-timing: 1; // percentage of total animation cycle

*, *::before, *::after {
  box-sizing: border-box;
}
.testimonialsection {
    width: 1165PX;
    margin-top: 186px;
    font-family: 'Poppins', sans-serif;
    
    &__row {
        margin: auto;
        text-align: left;
        display: grid;       
        grid-template-columns: 42.575% 57.42%;
        &__half {
            width: 95%;
            position: relative;
            &__tagline {
                @include tagline();
                margin-bottom: 8px;
            }
            &__buttons{
              margin-top: 82px;
            }
            &__buttons .dot{
              margin-right: 26px;
              cursor: pointer;
              height: 15px;
              width: 15px;          
              background-color: #bbb;
              border: 0;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }
            &__heading {
                @include heading();
            }
            &__carousel{
                position: relative;
                width: 100%;
                max-width: 500px; 
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: auto;
                &__item{
                    width: 504px;        
                    padding: 28px;    
                    background: var(--white);
                    top: 35px;
                    left: 86px;
              //      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                    border-radius: 10px; 
                    align-items: center;
                    position: absolute; 
                    opacity: 1;
                   filter: drop-shadow(0 1px 1px #555);
                    will-change: transform, opacity;
              //    animation: carousel-animate-vertical $animation-timing linear 1;
              //    animation-iteration-count: infinite;
                    &__picture{
                        position: absolute;
                        top: -34px;
                        left: -34px; 
                    }                    
                    &__details{                        
                        font-family: 'Poppins', sans-serif;                        
                        font-weight: 500;
                        font-size: 16px;
                        color: var(--gray);
                        margin-bottom: 34px;
                    }
                    &__name{                       
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 27px;
                        color: var(--gray);
                        margin-bottom: 5px;
                    }
                    &__location{ 
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px; 
                        color: var(--gray);
                    }
                }
            }  
            &__pagination{
                position: absolute;
                right: -50px;
                top: 20%;
                display: grid;
                grid-template-columns: 1fr;
                gap: 57.5px;
                &__prev{
                  border: 0;
                  background-color: transparent;
                }
                &__next{
                  border: 0;
                  background-color: transparent;
                }
            }
        }
    }
}
 

.active, .dot:hover {
  background-color: #717171 !important;
}
.Jactive {
  display:block;
  position: absolute;
  top:0;
  left: 0;
}
.Jinactive { 
  z-index:-1; 
  display:block;
  position: absolute;
  top: 77px;
  left: 48px;
}
/* Fading animation */
.testimonialsection__row__half__carousel__item {
 animation-name: fade1;
 animation-duration: 1.5s;
}

@keyframes fade1 {
 from {opacity: .4} 
 to {opacity: 1}
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

// @for $i from 1 through ($carousel-items - 1) { 
//     .testimonialsection__row__half__carousel__item:nth-child(#{$i}) {
//       animation-delay: calc(#{$animation-delay-fraction} * #{$i - 2});
//     }
//   }
  
//   .testimonialsection__row__half__carousel__item:last-child {
//     animation-delay: calc(-#{$animation-delay-fraction} * 2);
//   }
  

// @keyframes carousel-animate-vertical {
//     0% {
//       transform: translateY(30%)  translateX(7%)  scale(1);
//       opacity: 0;
//       visibility: hidden;
//       z-index: 1;
//     }
//     // 20% {
//     //   transform: translateY(30%) translateX(4%)  scale(1);
//     //   opacity: 1;
//     //   z-index: 1;
//     //   visibility: visible;
//     // }
//     33% {
//       transform: translateY(30%) translateX(3%) scale(1);
//       opacity: 1;
//       visibility: visible;
//       z-index: 1;
//     }
//    46%  {
//       transform: translateY(0) translateX(0%) scale(1);
//       opacity: 1;
//       visibility: visible;
//       z-index: 3;
//     }
//    50%  {
//         transform: translateY(0) translateX(0%) scale(1);
//         opacity: 1;
//         visibility: visible;
//         z-index: 3;
//       }
//   66% {
//       transform: translateY(0) translateX(0%)  scale(1);
//       opacity: 1;
//       z-index: 2;
//       visibility: visible;
//     }
//   69%    {
//       transform: translateY(0) scale(1);
//       opacity: 1;
//       z-index: 1;
//       visibility: visible;
//     }
//     99% {
//       transform: translateY(0) scale(1);
//       opacity: 1;
//       z-index: 1;
//       visibility: visible;
//     }
//     100% {
//       transform: translateY(0) scale(1);
//       opacity: 1;
//       visibility: visible;
//     }
//   }
  