*, *::before, *::after {
  box-sizing: border-box;
}

.testimonialsection {
  width: 1165PX;
  margin-top: 186px;
  font-family: "Poppins", sans-serif;
}
.testimonialsection__row {
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 42.575% 57.42%;
}
.testimonialsection__row__half {
  width: 95%;
  position: relative;
}
.testimonialsection__row__half__tagline {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--gray);
  margin-bottom: 8px;
}
.testimonialsection__row__half__buttons {
  margin-top: 82px;
}
.testimonialsection__row__half__buttons .dot {
  margin-right: 26px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.testimonialsection__row__half__heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}
.testimonialsection__row__half__carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.testimonialsection__row__half__carousel__item {
  width: 504px;
  padding: 28px;
  background: var(--white);
  top: 35px;
  left: 86px;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  opacity: 1;
  filter: drop-shadow(0 1px 1px #555);
  will-change: transform, opacity;
}
.testimonialsection__row__half__carousel__item__picture {
  position: absolute;
  top: -34px;
  left: -34px;
}
.testimonialsection__row__half__carousel__item__details {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 34px;
}
.testimonialsection__row__half__carousel__item__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--gray);
  margin-bottom: 5px;
}
.testimonialsection__row__half__carousel__item__location {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray);
}
.testimonialsection__row__half__pagination {
  position: absolute;
  right: -50px;
  top: 20%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 57.5px;
}
.testimonialsection__row__half__pagination__prev {
  border: 0;
  background-color: transparent;
}
.testimonialsection__row__half__pagination__next {
  border: 0;
  background-color: transparent;
}

.active, .dot:hover {
  background-color: #717171 !important;
}

.Jactive {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.Jinactive {
  z-index: -1;
  display: block;
  position: absolute;
  top: 77px;
  left: 48px;
}

/* Fading animation */
.testimonialsection__row__half__carousel__item {
  -webkit-animation-name: fade1;
          animation-name: fade1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade1 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */