.subscribesection{
    font-family: 'Poppins', sans-serif; 
    margin: auto;
    text-align: center;
    // &__design{
    //     position: absolute;       
    //     right: 58px;
    // }
    &__row{       
        height: 407px;
        background-color: rgb(223, 215, 249, 0.2)   ;  
        border-radius: 129px 20px 20px 20px;       
        position: relative;
      
        &__title{
            transform:none;
            font-size: 33px;
            line-height: 54px; 
            text-align: center;  
            color: var(--gray);
            padding: 79px 5% 74px 5%;
        }
        &__box{
            margin: auto;
            width: 625px;
            display: grid;
            grid-template-columns: 3fr 180px;
            position: relative;
            gap: 24px;
            &__input{                
                padding: 25px;  
                padding-left: 66px;
                font-family: 'Montserrat', sans-serif;           
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                border: 0;
                border-radius: 10px; 
            }
            &__image{
                position: absolute;
                top: 25px;
                left: 31px;
            }
            &__button{
                padding: 20px;  
                font-family: 'Open Sans', sans-serif;; 
                font-weight: 600;
                font-size: 17px;
                line-height: 23px;
                text-align: center; 
                color: var(--white);
                background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
                border-radius: 10px;
                border: 0;
            }
        }
        &__send{
            position: absolute;
            top: -20px;
            right: -20px;
        }
        &__decore--left{
            position: absolute;
            left: 27.68px;
            bottom: 0;
        }
        &__decore--right{
            position: absolute;
            top: -17.22px;
            right: 28px; 
        }
    }
}