@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Volkhov:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --brown: #DF6951;
  --primary-blue: #181E4B;
  --secondary-blue: #1E1D4C;
  --tertiary-blue: #39425D;
  --darkblue: #14183E;
  --gray: #5E6282;
  --gray-secondary: #686D77;
  --yellow: #F1A501;
  --white: #FFFFFF;
  --secondary-white: #F5F5F5 ;
  --orange: #F15A2B;
  --celestialblue: #006380;
  --black: #080809;
  --violate: #8A79DF; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p, 
span
 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}